
/* resources/css/outgame/outgame.css */
body {
    background: #111;
    color: #eee;
}

/*
Old IE stylesheets, probably not needed anymore. Keeping them here for reference.
TODO: Remove these at a later time if they are not needed anymore.

<!--[if lt IE 8]>
<link rel="stylesheet" type="text/css" href="css/outgame/8203e97695e64d89c5ed0efca2dd55.css" />
<![endif]-->
<!--[if lt IE 7]>
<link rel="stylesheet" type="text/css" href="css/outgame/9253d1dbc4e5de58100a2db4b3b5b1.css" />
<![endif]-->
 */